/**
 * flex-direction: row*, column
 * justify-content: flex-start*, flex-end, center, space-between, space-around, space-evenly
 * align-items: flex-start, flex-end, center, baseline, stretch*
 */
body{
	background-color: #DDD;
}
.container{
	display: flex;
	background-color: #EEE;
	flex-direction: row;
	height: 200px;
	justify-content: center;
	align-items: center;
}